/* Taiwind Setup */
@import "tailwindcss";


/* Arrow buttons */
.swiper-button-next,
.swiper-button-prev {
  width: 24px !important;
  height: 24px !important;
  color: #3BB77E !important;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  font-size: 16px !important;
}

/* Pagination bullets */
.swiper-pagination-bullet {
  width: 8px !important;
  height: 8px !important;
  background: #3BB77E !important;
  opacity: 1 !important;
  margin-top: 200px !important;
}

.swiper-pagination-bullet-active {
  background: #1F7A5D !important;
}
.swiper-pagination {
visibility: hidden;
}
/* Hover arrows theme color */
.swiper:hover .swiper-button-next,
.swiper:hover .swiper-button-prev {
  color: #3BB77E;  /* theme color */
  transform: scale(1.2);
}